@media (max-width: 600px) {
  body {
    background: rgb(8, 20, 42);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }

  img {
    display: block;
    width: 90%;
    margin: 1rem auto;
  }
  .desktop-message {
    display: none;
  }

  p {
    widht: 80%;
    display: block;
    text-align: center;
    margin: 1em auto;
    line-height: 1.5em;
    color: white;
    font-family: monospace;
    font-size: 1.2em;
  }

  h1 {
    color: yellow;
    text-align: center;
    font-family: monospace;
    font-weight: 800;
    font-size: 3rem;
  }
}

@media (min-width: 600px) {
  body {
    background: rgb(8, 20, 42);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto 1em auto;
  }
  .mobile-message {
    display: none;
  }
  .desktop-message {
    width: 80%;
  }

  p {
    widht: 80%;
    display: block;
    text-align: center;
    margin: 1em auto;
    color: white;
    font-family: monospace;
    font-size: 1.5em;
  }

  h1 {
    color: yellow;
    text-align: center;
    font-family: monospace;
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0;
  }
}

button {
  margin-bottom: 2em !important;
}

.game {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

footer {
  color: white;
  text-align: center;
  bottom: 0;
  width: 100%;
  padding: 1em 0;
  font-family: monospace;
}

footer a {
  color: white;
}
